.articles_container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  background-color: #dbd2dc;
  padding: 1%;
}

.articles_list {
  display: flex;
  flex-direction: column;
  padding: 1%;
  list-style: none;
}

ul {
  margin: 0%;
  padding: 0%;
}

.sorter {
  display: flex;
  min-width: 100%;
  justify-content: center;
  padding: 1%;
  background-color: #dbd2dc;
}
