.article_page {
  display: flex;
  flex-direction: column;
  background-color: pink;
  min-width: 0%;
}

.article {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}

.article_votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
  min-width: 100%;
}

.comments_list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
