.article_page {
  display: flex;
  flex-direction: column;
  background-color: #dbd2dc;
  min-width: 100%;
  align-items: center;
  padding: 1%;
}

.article {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #ecd9ef;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #a196a2;
}

.article_votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
  min-width: 100%;
  margin-bottom: 10px;
  background-color: #ecd9ef;
  border-radius: 15px;
}

.comments_list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
