.flex_container {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  min-width: 100%;
  align-items: center;
  padding: 1%;
}

.flex_title {
  display: flex;
  align-items: center;
}

.flex_navbar {
  display: flex;
  align-content: center;
  min-width: 100%;
}

.flex_user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  min-width: 90%;
  padding-right: 5px;
}
