.flex_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  min-width: 100%;
  flex-wrap: wrap;
}

.topics_box {
  display: flex;
  flex-direction: row;
}

.topic_slug {
  margin-right: 5px;
}
