@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

.commentCard {
  display: flex;
  flex-direction: column;
  border: 3px solid #e3c4e8;
  border-radius: 15px;
  margin-bottom: 1em;
  flex-wrap: wrap;
  list-style: none;
  min-width: 100%;
  margin-right: 0%;
  background-color: #ecd9ef;
  box-shadow: 5px 5px 10px grey;
  font-family: "Roboto", sans-serif;
}

.comment_body {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.comment_details {
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin: 0% 0px;
  font-size: 11px;
}

.comment_delete {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.comment_vote {
  display: flex;
  justify-content: center;
}
