.item_a {
  grid-area: header;
}

.item_b {
  grid-area: articles;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.25% auto;
  grid-template-areas:
    "header"
    "articles";
}
